@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.header {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    background-color: #222222;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;    
}

.header1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    font-size: 10px;  
    color: #F3F3F3; 
}

.header2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: #F0A83E; 
    
    font-size: 13px;  
    color: #F3F3F3;
}

.header_links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#links {
    font-size: 13px;
    color: #FFFFFF;
}

.bienvenida {   
    display: flex; 
    justify-content: flex-end;
    height: 86vh;
    width: 100%;

    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-weight: 400;     
}

.items-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;  
}

#bienvenida, #subtitulo-top, #boton-comederos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bienvenida {
    width: 440px;
    height: 54px;
    padding: 10px;    

    background-color: #FFFFFF;
    border-radius: 5px;

    font-size: 30px;
    color: #3C2313;   
}

#subtitulo-top {
    padding: 15px;
    color: #3C2313;
}

#boton-comederos {
    width: 141px;
    height: 49px;
    border-radius: 5px;

    background-color: #F0A83E;
    
    color: #FFFFFF;
}

.section1 {
    display:flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
}

.article-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pawprint {
    padding-top: 20px;
}

#title {
    margin-top: 5px;
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    color: #3C2313;    
}

#article-sections {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}

.articles-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article-item1, .article-item2, .article-item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 15px;
    font-weight: 500;
}

#nombre-item {
    color: #3C2313;
}

#precio-item{
    color: #F0A83E;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 50px;

    font-family: 'Roboto', sans-serif;
}

#contactanos {
    color: #3C2313;
    font-weight: 700;
    font-size: 25px;
    text-align: center;

    padding-bottom: 5px;
}

.casillas {
    display: flex;
    flex-direction: column;  
    padding: 10px; 
}

#casilla {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 340px;
    height: 40px;
    padding-left: 14.1px;
    margin: 5px;

    background-color: #3C2313;
    border-radius: 15px;

    font-size: 9px;
    font-weight: 400;
    color: #FFFFFF;
}

.botones-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#boton1, #boton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 34px;

    border-radius: 15px;

    font-size: 16px;
    font-weight: 400;
}
#boton1 {
    background-color: #8A8787;
    color: #FFFFFF;
}

#boton2 {
    background-color: #F0A83E;
    color: #FFFFFF;
}

.suscribete {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    background-color: #F0A83E;

    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

#texto-suscribete {
    padding-left: 10px;
}

.correo-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#casilla-correo {
    width: 271px;
    height: 40px;
    background-color: #FFFFFF;
    color: #A0A0A0;
    border-radius: 15px;
    font-size: 9px;
    font-weight: 400;

    padding: 14px 148px 15px 8px;
}

#boton-suscribete {
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    
    border-radius: 15px;
    
    font-size: 9px;
    font-weight: 700;
    color: #FFFFFF;
}

.info-tienda {
    height: 284px;
    background-color: #3C2313;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

#icons {
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#icons-ind {
    width: 58px;
    height: 58px;
    background-color: #8A8787;
    color: #FFFFFF;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#info-items {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#info-items-sub {
    color: #8A8787;
    font-size: 10px;
}

.info-group {
    height: 284px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    right: 450px;
}

#bottom-logo {
    width: 166px;
    height: 23px;

    position: relative;
    right: 70px;
}

footer {
    height: 20px;
    background-color: #222222;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

