@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header {
    height: 20px;
    background-color: #222222;
    color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 50px;
}

.header2 {
    height: 62px;
    background-color: #F0A83E;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;

    position: relative;
    margin: 10px;
    right: 30px;
}

.top {
    height: 550px;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#bienvenida {
    width: 365px;
    height: 54px;
    background-color: #FFFFFF;
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    border-radius: 5px;
    padding: 10px;

    position: relative;
    right: 12px;
}

#subtitulo-top {
    font-family: 'Roboto', sans-serif;
    color: #3C2313;

    position: relative;
    right: 95px;
    top: 12px;

}

#boton-comederos {
    width: 141px;
    height: 49px;
    background-color: #F0A83E;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

    position: relative;
    right: 117px;
    top: 24px;
}

#article_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pawprint {
    margin-top: 20px;
}

h1 {
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;

    margin-top: 5px;
    margin-bottom: 20px;
}

#subart1 {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;

}

.section1 {
    display:flex;
    justify-content: center;
}

.articles {
    width: 265px;
    height: 269px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 40px;
}

.subarts {
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
}

.price-arts{
    color: #F0A83E;
    font-family: 'Roboto', sans-serif;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 78px;
}

#contactanos {
    color: #3C2313;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;

    padding-bottom: 10px;
}

div.info {
    width: 340px;
    height: 40px;
    background-color: #3C2313;
    color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 10px;
    padding-left: 14.1px;
}

#boton1 {
    width: 110px;
    height: 34px;
    background-color: #8A8787;
    color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin-top: 40px;

}

#boton2 {
    width: 110px;
    height: 34px;
    background-color: #F0A83E;
    color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin-top: 40px;
}

.suscribete {
    height: 60px;
    background-color: #F0A83E;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;

    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

#texto-suscribete {
    padding-left: 10px;
}

#correo-boton {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#casilla-correo {
    width: 271px;
    height: 40px;
    background-color: #FFFFFF;
    color: #A0A0A0;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    font-weight: 400;

    padding: 14px 148px 15px 8px;
}

#boton-suscribete {
    width: 70px;
    height: 34px;
    background-color: #3C2313;
    color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    font-weight: 700;

    margin-right: 47px;
    margin-left: 5px;
}

.info-tienda {
    height: 284px;
    background-color: #3C2313;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

#icons {
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#icons-ind {
    width: 58px;
    height: 58px;
    background-color: #8A8787;
    color: #FFFFFF;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#info-items {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#info-items-sub {
    color: #8A8787;
    font-size: 10px;
}

.info-group {
    height: 284px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    right: 450px;
}

#bottom-logo {
    width: 166px;
    height: 23px;

    position: relative;
    right: 70px;
}

footer {
    height: 20px;
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}